{% extends 'Agency/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="graphs">
        <div id="daili">
          <ul>
            <li><img src="{% static 'Agency/images/t01.png' %}" width="24" height="24" alt=""/>
            <input name="" type="button"  value="添加代理" onclick="show2()">
            <li>
              <select>
                <option value="1">所属代理ID</option>
                <option value="2">所属代理帐号</option>
              </select>
            </li>
            <li>
              <input type="text" id="dailiinput">
            </li>
            <li>
              <select>
                <option value="1">代理ID</option>
                <option value="2">代理帐号</option>
              </select>
            </li>
            <li>
              <input type="text" id="dailiinput">
            </li>
            <li>
              <select>
                <option value="1">可用</option>
                <option value="2">-帐号状态-</option>
                <option value="3">可用</option>
                <option value="4">冻结</option>
              </select>
            </li>
            <li>统计
              <input type="checkbox">
            </li>
            <li>
              <input type="submit" value="查询">
            </li>
          </ul>
        </div>
        <div id="adddailiDiv">
            <form onsubmit="return adddaili()">
                <table width="386" height="364" border="0">
                    <tbody>
                        <tr>
                            <td width="99">代理帐号 ：</td>
                            <td width="253"><input type="text" name="textfield" id="username"></td>
                        </tr>
                        <tr>
                            <td>代理密码 ：</td>
                            <td><input type="password" name="password" id="password"><br>
                                     <span id="tipMsg"></span></td>
                        </tr>
                        <tr>
                            <td>真实姓名 ：</td>
                            <td>
                            <input type="text" name="textfield2" id="textfield2"></td>
                        </tr>
                        <tr>
                            <td>电话号码 ：</td>
                            <td>
                            <input type="text" name="textfield3" id="textfield3"></td>
                        </tr>
                        <tr>
                            <td>QQ ：</td>
                            <td>
                            <input type="text" name="textfield4" id="textfield4"></td>
                        </tr>
                        <tr>
                            <td>代理级别 ：</td>
                            <td> ， </td>
                        </tr>
                        <tr>
                            <td>占成 ：</td>
                            <td>
                            <input type="text" name="textfield4" id="textfield4">%</td>
                        </tr>
                        <tr>
                            <td>上下分权限</td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><input type="submit" name="submit" id="submit" value="确认保存"><a href="javascript:location.reload()" style="margin-left:90px;">返回</a></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="row" id="dailibiao1">
            <div class="col-xs-12 col-sm-12 col-md-12" >
                <table class="table table-striped table-responsive table-hover" id="dailibiao" border="1">
                    <caption>
                    单位：金币
                    </caption>
                    <thead>
                      <tr>
                        <th><input type="checkbox"></th>
                        <th>序号</th>
                        <th>代理ID</th>
                        <th>代理帐号</th>
                        <th>代理级数</th>
                        <th>占成</th>
                        <th>总上分</th>
                        <th>总下分</th>
                        <th>当前余额</th>
                        <th>初始押金</th>
                        <th>直属代理</th>
                        <th>直属会员</th>
                        <th>所属代理</th>
                        <th>上下分权限</th>
                        <th>添加时间</th>
                        <th>状态</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>1</td>
                        <td>16859</td>
                        <td>o88888</td>
                        <td>;</td>
                        <td>100%</td>
                        <td>0</td>
                        <td>0</td>
                        <td>9999999</td>
                        <td>0</td>
                        <td>7</td>
                        <td>1</td>
                        <td>dyj</td>
                        <td>有</td>
                        <td>2016/3/11 17:52:50</td>
                        <td>可用</td>
                        <td>修改 冻结</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>1</td>
                        <td>16859</td>
                        <td>o88888</td>
                        <td>;</td>
                        <td>100%</td>
                        <td>0</td>
                        <td>0</td>
                        <td>9999999</td>
                        <td>0</td>
                        <td>7</td>
                        <td>1</td>
                        <td>dyj</td>
                        <td>有</td>
                        <td>2016/3/11 17:52:50</td>
                        <td>可用</td>
                        <td>修改 冻结</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>1</td>
                        <td>16859</td>
                        <td>o88888</td>
                        <td>;</td>
                        <td>100%</td>
                        <td>0</td>
                        <td>0</td>
                        <td>9999999</td>
                        <td>0</td>
                        <td>7</td>
                        <td>1</td>
                        <td>dyj</td>
                        <td>有</td>
                        <td>2016/3/11 17:52:50</td>
                        <td>可用</td>
                        <td>修改 冻结</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>1</td>
                        <td>16859</td>
                        <td>o88888</td>
                        <td>;</td>
                        <td>100%</td>
                        <td>0</td>
                        <td>0</td>
                        <td>9999999</td>
                        <td>0</td>
                        <td>7</td>
                        <td>1</td>
                        <td>dyj</td>
                        <td>有</td>
                        <td>2016/3/11 17:52:50</td>
                        <td>可用</td>
                        <td>修改 冻结</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>1</td>
                        <td>16859</td>
                        <td>o88888</td>
                        <td>;</td>
                        <td>100%</td>
                        <td>0</td>
                        <td>0</td>
                        <td>9999999</td>
                        <td>0</td>
                        <td>7</td>
                        <td>1</td>
                        <td>dyj</td>
                        <td>有</td>
                        <td>2016/3/11 17:52:50</td>
                        <td>可用</td>
                        <td>修改 冻结</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>1</td>
                        <td>16859</td>
                        <td>o88888</td>
                        <td>;</td>
                        <td>100%</td>
                        <td>0</td>
                        <td>0</td>
                        <td>9999999</td>
                        <td>0</td>
                        <td>7</td>
                        <td>1</td>
                        <td>dyj</td>
                        <td>有</td>
                        <td>2016/3/11 17:52:50</td>
                        <td>可用</td>
                        <td>修改 冻结</td>
                      </tr>
                    </tbody>
                </table>
                <div id="huiyuanfenye">
                    <div>共<span>XX</span>页. 当前第<span>XXX</span>页.
                    </div>
                    <ul class="pagination">
                      <li><a href="#">&laquo;</a></li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}